/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/logs/

### Temp Data ###
/data/
.oracle_data
classes

# Mac files
.DS_Store
target
*.class
oradata
*.out
.xmind

# eclipse
.metadata/
*.struts.mex
