<mapper namespace="com.terwergreen.dao.IUSerDao">
    <!-- sql的唯一标识：namespace.id组合：statementId -->
    <select id="findAll" resultType="com.terwergreen.pojo.User">
        select * from user
    </select>
    <select id="findByCondition" resultType="com.terwergreen.pojo.User" parameterType="com.terwergreen.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>
</mapper>