<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terwergreen.dao.IUserDao">
    <!-- namespace：名称空间，与id组合构成sql的唯一标识
         resultType：返回值类型
     -->

    <!-- 抽取sql片段简化编写 -->
    <sql id="selectUser">select * from user</sql>

    <!-- 查询用户 -->
    <select id="findAll" resultType="uSeR">
        select * from user
    </select>

    <!-- 根据ID查询用户 -->
    <select id="findById" parameterType="int" resultType="user">
        <include refid="selectUser"></include> where id=#{id}
    </select>

    <!-- 多条件组合查询用户：if案例 -->
    <select id="findByCondition" parameterType="user" resultType="user">
        select * from user where 1=1
        <if test="id!=null">
            and id=#{id}
        </if>
        <if test="username!=null">
            and username=#{username}
        </if>
    </select>

    <!-- 多条件组合查询用户：where案例 -->
    <select id="findByConditionWhere" parameterType="user" resultType="user">
        select * from user
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="username!=null">
                and username=#{username}
            </if>
        </where>
    </select>

    <!-- 多值查询：foerach案例 -->
    <select id="findByIds" parameterType="list" resultType="user">
        select * from user
        <where>
            <foreach collection="array" open="id in (" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <!-- 添加用户
         parameterType：参数类型
    -->
    <insert id="saveUser" parameterType="com.terwergreen.pojo.User">
        insert into user(id, username) values(#{id}, #{username})
    </insert>

    <!-- 修改 -->
    <update id="updateUser" parameterType="com.terwergreen.pojo.User">
        update user set username=#{username} where id=#{id}
    </update>

    <!-- 删除 -->
    <update id="deleteUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </update>
</mapper>