<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terwergreen.dao.IUserDao">
    <!-- namespace：名称空间，与id组合构成sql的唯一标识
         resultType：返回值类型
     -->
    <!-- 查询用户 -->
    <select id="findAll" resultType="uSeR">
        select * from user
    </select>

    <!-- 添加用户
         parameterType：参数类型
    -->
    <insert id="saveUser" parameterType="com.terwergreen.pojo.User">
        insert into user(id, username) values(#{id}, #{username})
    </insert>

    <!-- 修改 -->
    <update id="updateUser" parameterType="com.terwergreen.pojo.User">
        update user set username=#{username} where id=#{id}
    </update>

    <!-- 删除 -->
    <update id="deleteUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </update>
</mapper>